
/* outer area */
body {
    color: #777777;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}
hr {
    margin: 0;
}
.main_area hr {
    height: 1px;
    background: #eeeeee;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
}
h1 {
    color: #4aaaa5;
    font-size: 1.5em;
    padding: 15px 0;
}
.background_1 {
    width: 100%;
    padding: 20px;
    border: 1px solid #cccccc;
    background-image: url("../images/stripes-light.png");
    min-height: 1150px;
}
.background_1 .main_area {
    background: #ffffff;
    width: 960px;
    padding: 20px;
    text-align: left;
}
.container_1 {
    margin-top: 20px;
}

/* footer area */
footer {
    width: 100%;
    text-align: center;
    height: 77px;
    background: #666666;
    color: #cccccc;
    font-size: 0.8em;
}
footer p {
    height: 70px;
    line-height: 70px;
    margin: 0;
}
footer hr{
    height: 7px;
    background: #4aaaa5;
}

/* nav */
nav {
    background-color: #ffffff;
    overflow: hidden;
}
nav a {
  float: left;
  color: #777777;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
}
nav a h4 {
    height: 65px;
    line-height: 65px;
    margin: 0;
}
nav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}
nav .nav-left {
  background: #4aaaa5;
  color: white;
  margin-left: 20px;
}
.nav-right {
    margin: 20px;
    float: right;
}
.nav-right a {
    border-right: 1px solid #cccccc;
}
#nav-item-last {
    border-right: none;
}

/* about area */
.background_1 .main_area .profile_image {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 0;
    background-position: center;
    background-size: cover;
    background-image: url("../images/img-1.jpg");
    display: block;
    float: left;
}

/* contact area */
.background_1 .contact_area form {
    padding: 30px 0;
}
.btn-default {
    background: #4aaaa5;
    color: white;
}

/* portfolio area */
.card_area {
    position: relative;
    display: inline-block;
}
.pf_thumbnail {
    width: 435px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
.pf_thumbnail_text {
    position: absolute;
    top: 250px;
    width: 435px;
    background: teal;
    color: white;
    margin: 10px;
    display: block;
    text-align: center;
}
.pf_thumbnail_text:hover {
    display: none;
}

.pf_thumbnail_1 {
    background-image: url("../images/img-2.jpeg");
}
.pf_thumbnail_2 {
    background-image: url("../images/img-3.jpeg");
}
.pf_thumbnail_3 {
    background-image: url("../images/img-4.jpeg");
}
.pf_thumbnail_4 {
    background-image: url("../images/img-5.png");
}
.pf_thumbnail_5 {
    background-image: url("../images/img-6.jpg");
}



/* Use three `@media screen` tags, each with one of these `max-width`s: `980px`, `768px` and `640px`. */
/* footer changes it's position to top when reducing resolution */

@media only screen and (max-width : 980px) {

    /* outer settings */
    .background_1 .main_area {
        width: 727.688px;
    }
    .main_area #image-1 {
        width: 33.33%;
        height: 250px;
    }
    /* portfolio area */
    .pf_thumbnail {
        width: 320px;
    }
    .pf_thumbnail_text {
        width: 320px;
    }
}

@media only screen and (max-width : 768px) {

    /* outer settings */
    .background_1 .main_area {
        width: 100%;
    }
    /* about area */
    .main_area #image-1 {
        width: 50%;
    }
}

@media only screen and (max-width : 640px) {

    nav .nav-left{
        width: 100%;
        margin: 0;
    }
    .nav-right {
        display: inline-block;
        margin: 15px auto 5px;
        float: none; 
    }
    /* about area */
    .main_area #image-1 {
        width: 100%;
        height: 350px;
    }
    /* portfolio area */
    .pf_thumbnail {
        width: 558px;
        height:400px;
        margin: 10px 0;
    }
    .pf_thumbnail_text {
        width: 558px;
        top: 340px;
        margin: 10px 0;
    }
}