
/* outer area */
body {
    color: #777777;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}
hr {
    margin: 0;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
}
h1 {
    color: #4aaaa5;
    font-size: 1.5em;
}
.background_1 {
    width: 100%;
    padding: 20px;
    border: 1px solid #dddddd;
    background-image: url("../images/stripes-light.png");
}
.background_1 .main_area {
    background: #ffffff;
    width: 960px;
    padding: 20px;
    text-align: left;
}
.container_1 {
    margin-top: 20px;
}
/* footer area */
.footer_line {
    width:100%;
    height: 7px;
    background: #4aaaa5;
}
footer {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #666666;
    color: #777777;
}

/* nav */
nav {
    background-color: #ffffff;
    overflow: hidden;
}
nav a {
  float: left;
  color: #777777;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
}
nav a h4 {
    height: 65px;
    line-height: 65px;
    margin: 0;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
nav .nav-left {
  background: #4aaaa5;
  color: white;
  margin-left: 20px;
}
.nav-right {
    margin: 20px;
}
.nav-right a {
    float: right;
    border-right: 1px solid #cccccc;
}

/* about area */
.background_1 .main_area .profile_image {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 0;
    background-position: center;
    background-size: cover;
    background-image: url("../images/img-1.jpg");
    display: block;
    float: left;
}
.background_1 .main_area .about_me {
    /* margin: 25px; */
}

/* contact area */
.background_1 .contact_area form {
    padding: 20px 0;
}

/* portfolio area */
.card_area {
    position: relative;
    display: inline-block;
}
.pf_thumbnail {
    width: 350px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
.pf_thumbnail_text {
    position: absolute;
    top: 150px;
    width: 350px;
    background: teal;
    color: white;
    margin: 10px;
    display: block;
}
.pf_thumbnail_text:hover {
    display: none;
}

.pf_thumbnail_1 {
    background-image: url("../images/img-2.jpeg");
}
.pf_thumbnail_2 {
    background-image: url("../images/img-3.jpeg");
}
.pf_thumbnail_3 {
    background-image: url("../images/img-4.jpeg");
}
.pf_thumbnail_4 {
    background-image: url("../images/img-5.png");
}
.pf_thumbnail_5 {
    background-image: url("../images/img-6.jpg");
}
.pf_thumbnail_6 {
    background-image: url("../images/img-7.jpeg");
}



/* Use three `@media screen` tags, each with one of these `max-width`s: `980px`, `768px` and `640px`. */
/* footer changes it's position to top when reducing resolution */

@media only screen and (max-width : 980px) {
    .background_1 .main_area {
        width: 727.688px;
        float: left;
    }
    .background_1 {
        float: left;
    }
    .main_area #image-1 {
        width: 33.33%;
    }
}

@media only screen and (max-width : 768px) {

    /* outer settings */
    .background_1 .main_area {
        width: 100%;
    }
    .nav-right {
        margin-right: 0;
    }
    /* about area */
    .main_area #image-1 {
        width: 50%;
    }
    
    /* portfolio area */
    .portfolio_area {
        text-align: center;
    }
    .pf_thumbnail {
        width: 260px;
    }
    .pf_thumbnail_text {
        width: 260px;
    }
}

@media only screen and (max-width : 640px) {
    nav .nav-left{
        width: 100%;
        margin: 0;
    }
    .nav-right {
        /* float: left; */
    }
    /* about area */
    .main_area #image-1 {
        width: 100%;
    }
    /* portfolio area */
    .portfolio_area {
        text-align: center;
    }
    .pf_thumbnail {
        width: 350px;
    }
    .pf_thumbnail_text {
        width: 350px;
    }
}