body {
    color: #777777;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}
.navbar {
    padding: 0 50px;
    background: #ffffff;
}

.navbar .navbar-brand {
    background: #4aaaa5;
    padding: 20px;
    color: white;
}

.nav-link {
    padding: 0 20px;
    border-right: 1px solid #cccccc;
}

#nav-item-last{
    border-right: none;
}

hr {
    /* how to change the thickness? */
    margin:0;
    padding:0;
    color: #777777;
    /* height:2px; */
}

.background_1 {
    width: 100%;
    border: 1px solid #dddddd;
    background-image: url("../images/stripes-light.png");
}

h1 {
    color: #4aaaa5;
}

/* about area */
.background_1 .about_area {
    background: #ffffff;
    height: 600px;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

.background_1 .about_area h1{
    padding-left: 25px;
}
.background_1 .about_area .profile_image {
    width: 300px;
    height: 300px;
    margin: 25px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/img-1.jpg");
    display: block;
    float: left;
}

.background_1 .about_area .about_me {
    margin: 25px;
}

/* contact area */
.background_1 .contact_area {
    background: #ffffff;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}
.background_1 .contact_area form {
    padding: 20px 0;
}

/* portfolio area */
.portfolio_area {
    background: #ffffff;
    width: 960px;
    /* width: 500px; */
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.portfolio_area h1 {
    text-align: left;
}

.card_area {
    position: relative;
    display: inline-block;
}

.pf_thumbnail {
    width: 350px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

.pf_thumbnail_text {
    position: absolute;
    top: 150px;
    width: 350px;
    background: teal;
    color: white;
    margin: 20px;
    display: block;
}
.pf_thumbnail_text:hover {
    display: none;
}

.pf_thumbnail_1 {
    background-image: url("../images/img-2.jpeg");
}
.pf_thumbnail_2 {
    background-image: url("../images/img-3.jpeg");
}
.pf_thumbnail_3 {
    background-image: url("../images/img-4.jpeg");
}
.pf_thumbnail_4 {
    background-image: url("../images/img-5.png");
}
.pf_thumbnail_5 {
    background-image: url("../images/img-6.jpg");
}
.pf_thumbnail_6 {
    background-image: url("../images/img-7.jpeg");
}

/* footer area */
.footer_line {
    height: 7px;
    background: #4aaaa5;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #666666;
    color: #777777;
}